

.backgroundImg{
    height: calc(100vh - 3rem);
}

.aboutMeImage{
    background-image: url(../../Images/aboutMe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: red;


    border-top-left-radius: 2.5rem;
}